<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <servlet>
	<servlet-name>babo</servlet-name>
	<servlet-class>com.ss.test.MyServlet</servlet-class>
  </servlet>	  
  <servlet-mapping>
	<servlet-name>babo</servlet-name>
	<url-pattern>/test</url-pattern>
  </servlet-mapping>

<servlet>
	<servlet-name>design</servlet-name>
	<servlet-class>com.ss.test.TableServlet</servlet-class>
  </servlet>
   <servlet-mapping>
	<servlet-name>design</servlet-name>
	<url-pattern>/table</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>dbtest</servlet-name>
	<servlet-class>com.ss.test.DBTest</servlet-class>
  </servlet>
   <servlet-mapping>
	<servlet-name>dbtest</servlet-name>
	<url-pattern>/test2</url-pattern>
  </servlet-mapping>

</web-app>
